*{
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --vinho: #5B1025;
    --rosa: #F4D6E1;
    --branco: #FFFFFF;
    --texto-escuro: #393939;
    --bege: #E8DCCF;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: var(--branco);
    color: var(--texto-escuro);
}
body section{
    background-color: var(--branco);
    padding: 20px 10px;
}

header{
    background-color: var(--vinho);
    padding: 30px 80px;
    min-height: 200px;
}
header .interface{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: space-between;
    padding: 20px 80px;
}
header nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 50px
}
header nav a{
    color: var(--rosa);
    text-decoration: none;
    font-size: 1.5rem;
    margin: 100px 20px;
}

header h1{
    color : var(--branco);
    font-family: 'Raleway', sans-serif;
    font-size: 6rem;
    padding-top: 100px;
    margin-bottom: 0;
}
header .hero {
    padding: 40px 80px;
}

header .hero h2 {
    color: var(--branco);
    font-size: 6rem;
    margin: 0;
}

header .oi {
    color: var(--branco);
}

header .descricao {
    color: var(--branco);
}

